extends ./layout/layout

block page_title
  .col-md-12.col-sm-6.col-xs-12
    h1 #{util.message('title')}
      small #{util.message('subtitle')}

block body
  //- "widgets/${widgetId}/${device}"
  - var the_template = 'widgets/propertyDetail/' + __device + '.jade'
  #{the_template}
  #{__device}
  //-include ./detail/detail.jade
  //-each property in properties
  //-  +property_detail(property)
